In [17]:
import numpy as np
import pandas as pd
import sweetviz as sv

In [18]:
df=pd.read_csv('liver_disease_1.csv')

In [19]:
df.head()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,0.7,0.1,187,16,18,6.8,3.3,0.90,Yes
1,62,10.9,5.5,699,64,100,7.5,3.2,0.74,Yes
2,62,7.3,4.1,490,60,68,7.0,3.3,0.89,Yes
3,58,1.0,0.4,182,14,20,6.8,3.4,1.00,Yes
4,72,3.9,2.0,195,27,59,7.3,2.4,0.40,Yes

In [20]:
df.replace({'Dataset' : {'Yes':1, 'No':0}}, inplace=True)

In [21]:
my_report = sv.analyze(df, target_feat='Dataset')
my_report.show_html()

:FEATURES DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [22]:
print('END OF NOTEBOOK')

END OF NOTEBOOK